<template>
  <section class="container">
    <div class="row">
      <div class="col-10 mx-auto bg-info">
        <FormulateInput
          type="email"
          name="email"
          label="Ingrese su correo"
          help="mensaje informativo"
          validation="required|email"
          class="input"
        />
        <p>otro</p>
        <FormulateInput
          type="checkbox"
          name="flavor"
          label="Seleccionar 2 plantas favoritas"
          validation="min:2,length"
          :options="{
            vanilla: 'Vanilla',
            chocolate: 'Chocolate',
            strawberry: 'Strawberry',
            apple: 'Apple'
          }"
        />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
